.container{
    padding: 20px;
}
.heading{
    font-size: 24px;
    margin-bottom: 20px;

}
.card-container{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}
.card{
    flex: 1;
    padding: 20px;
    color:white;
    border-radius: 8px;
    text-align: center;
}
.blue{
    background: powderblue;
}
.orange{
    background: orange;
}
.green{
    background:green;
}
.red{
    background: red;
}
.chart-container{
    display: flex;
    gap:30px;
    flex-wrap: wrap;
}