.admin-container {
  padding: 30px;
  font-family: Arial, sans-serif;
  background: #f8f8f8;
  min-height: 100vh;
}


.admin-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.admin-topbar input {
  padding: 8px;
  width: 250px;
}

.admin-topbar button {
  padding: 8px 15px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

.stats-container {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.stat-card {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.stat-card h3 {
  margin-bottom: 10px;
  color: gray;
}

.stat-card p {
  font-size: 24px;
  font-weight: bold;
}


.product-table {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background: #f2f2f2;
}

td img {
  width: 60px;
  border-radius: 5px;
}

.delete-btn {
  background: red;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}