
.top-bar {
  height: 40px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  align-items: center;
  font-size: 13px;
}

.top-bar span {
  margin-right: 20px;
}

.left-group,
.right-group {
  display: flex;
  align-items: center;
}


.main-nav {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 40px;
  gap: 30px;
  background-color: #f7f7f7;
}

.logo {
  background-color: #c8a77a;
  color: white;
  font-size: 28px;
  font-weight: bold;
  padding: 5px 12px;
}

.search-box {
  flex: 1;
  height: 40px;
  border: none;
  padding: 0 15px;
  font-size: 15px;
  background-color: #eee;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
}

.signup-btn {
  background-color: #c8a77a;
  color: white;
  border: none;
  padding: 10px 14px;
  cursor: pointer;
}

/* .Signup-icon{
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  margin-right: 10px;
}
.Signup-icon :hover{
  color: #c8a77a;
} */

.category-navbar {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: #fff;
}

.category-item {
  text-align: center;
  cursor: pointer;
}

.category-item img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 4px;
}

.category-item p {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 500;
}
.account-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
}

.account-icon{
  font-size: 22px;
}
.account-text{
  font-size: 13px;
  margin-top: 2px;
}

